/* container del header */
.container-fluid
{
    height: 100%;
    background-color: #FF9966;
}

.navbar
{
    padding: 0;
    width: 100%;
}

/* dropdown de buscar user o story */
.form-select
{
    width: min-content;
    height: 2.2em;
}

/* texto de la búsqueda */
.form-control
{
    width: 10em;
    height: 2.2em;
    margin: 0 .2em;
}

.btn-search
{
    height: 2.2em;
    width: 2.2em;
    padding: 0;
    margin: 0.2em;
}

.icon
{
    height: 1.3em;
}

.search
{
    filter: invert(100%);
}

.form-search
{
    margin: 0;
}

/*foto del usuario*/
#user
{
    height: 2.5em;
    width: 2.5em;
}

.navbar .dropdown-menu {
    left: auto;
    right: 0;
    margin: 0;
}

.navbar .dropdown-toggle{
    text-align: right;
}