body{
    background-color: #99CCCC !important;
}
.card
{
    margin: 1em 2em;
}
h1
{
    text-align: center;
}

.card-header a
{
    color: #003366;
    font-weight: 600;
    text-decoration: none;   
}

.favButton
{
    background-color: transparent;
    border: none;
    border-radius: 90px;
}

pre
{
    font-family: 'Lexend', Arial, sans-serif;
    white-space: pre-wrap;
}

.pfp
{
    height: 3em;
    border-radius: 2em;
    aspect-ratio: 1 / 1; /* Make it a square */
    object-fit: cover; 
    margin: 1em;
    background-color: #99CCCC;
}

.commentInfo
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.card-title{
    font-size: large;
}

.card-header
{
    margin-top: 1.2em;
    margin-left: 1em;
    padding: 0;
}
.by
{
    margin-left: 2em;
}

.card-header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#userPfp, #otherUser{
    width: 100px;
    border-radius: 60px;
    aspect-ratio: 1 / 1;
    object-fit: cover; 
    margin: 1em;
    box-shadow: 0px 2px 10px black;
    background-color: grey;
}

.editButton
{
    width: 20px;
    height: 20px;
}

.row
{
    height: 70vh;
}

.card-profile{
    margin: 1em 0;
}

.tab-pane{
    height: 60vh;
    overflow-y: auto;
}

.tab-pane .card-header{
    margin: 0.3em 1em;
}

.content{
    font-family: 'Lexend', Arial, sans-serif;
    font-weight: lighter;
}

.btn-profile{
    margin: 0.3em;
}

.card-text{
    padding-right: 2em;
}

.bold{
    font-weight: bold;
}