body{
    background-color: aqua;
    background-image: url("./Imagenes/fondo2.png");
    background-size: 100% auto;
    background-repeat: repeat-y;

}
.primero {
    background: rgba(213, 202, 152, 0.95);
    margin: 2.5%  20% 0 20%;
    padding: 20px 0% 0 5%;
    height: 100%;
    border: 1px solid black;
    display: grid;
}
.primero> *{
    padding: 5px;
    width: 85%;
    display:run-in;
    text-align: center;
    align-content: center;
    justify-content: center;
}
.primero > .logotipos{
    width: 30%;
    animation: miAnimacion 6s infinite alternate;
    position: relative;
}
@keyframes miAnimacion{
    0%{
        left:0%;
    }33%{
        left:55%;
    }100%{
        left:0%;
    }
}
.logIn, .signUp{
    width: 45%;
    border: 6px ridge #66424c;
    background: #b3c262;
    color: #c72546;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}
.logIn{
    float: left;
}
.signUp{
    float: right;
}
/* For stories */
.container{
    border: 1px solid black;
    margin: 3px;
    margin-bottom: 6px;
    background: linear-gradient(to bottom, #d5ca98, #b3c262);
}
.title{
    text-align: left;
}
.content{
    text-align: justify;
}
.dateTime{
    text-align: right;
}
/*For buttons*/
.button{
	width: 120px;
	height: 32px;
	padding: 0px 10px 0px 10px;
	background: linear-gradient(to bottom, #66424c, #c72546 );
	color: #232323;
	border:1px solid #232323;
	border-radius: 3px 3px 3px 3px;
	font-family: "Swift";
	font-weight: 400;
	font-size: 16px;
	text-align: center;
}
button:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
/* Comments styles */
