body{
    display: grid;
    width: auto;
    justify-content: center; /* Center horizontally */
    align-items: center;
    background-image: url("./Imagenes/fondoParaInicios.jpg");
}
.rectangle-1 {
    display: grid;
    width: 400px;
    height: 400px;
    padding: 8px;
    margin-top: 15%;
    background: #b3c262;
    border: 10px ridge #d5ca98;
    justify-content: center;
    align-items: center;
}
.rectangle-1 > div {
    width: 347.362px;
    height: 50px;
    display: grid;
    color: #000000;
    font-family: "Alkatra";
    font-weight: 400;
    font-size: 36px;
    align-self: center;
    text-align: center;
	justify-content: center;
	align-content: center;
}
table{width: max-content;}
form{
	display:grid;
	align-items: center;
	justify-content: center;}
td{padding: 5px;}
h1{margin: 0px;}
.notes{
    text-align: center;
}
.text-input {
	width: 145px;
	height: 27px;
	padding: 4px 8px 4px 8px;
	background: #FFFFFF;
	color: #66424c;
	border-color: #232323;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-family: "Swift";
	font-weight: 400;
	font-size: 14px;
	text-align: left;
}
.label {
    width: 93px;
    height: 32px;
    color: #232323;
    font-family: "Swift";
    font-weight: 400;
    font-size: 18px;
    text-align: left;
}
.rectangle-2 {
    display: grid;
	width: 400px;
	height: 86px;
	padding: 8px 8px 8px 8px;
    margin: 20px 0px 0px 0px;
	background: #b3c262;
	border: 10px ridge #d5ca98;
    justify-content: center;
    align-items: center;
}
.rectangle-2 > div {
	width: 185px;
	height: 36px;
	color: #000000;
	font-family: "Swift";
	font-weight: 400;
	font-size: 26px;
	text-align: center;
    align-self: center;
}
.button{
	width: 120px;
	height: 32px;
	padding: 0px 10px 0px 10px;
	background: linear-gradient(to bottom, #66424c, #c72546 );
	color: #232323;
	border:1px solid #232323;
	border-radius: 3px 3px 3px 3px;
	font-family: "Swift";
	font-weight: 400;
	font-size: 16px;
	text-align: center;
}
button:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
img{
	justify-content: center;
	height: 100px;
}
.toSignIn{
	font-size: medium;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.checkbox-1 {
    width: 266px;
    height: 18px;
    background: #FFFFFF;
    color: rgb(12, 12, 185);
    border-color: #232323;
    border-width: 1.5px;
    border-style: solid;
    font-family: "Swift";
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}