{# templates/adminIndex.html.twig #}
{% include 'header.html.twig' with {'genres':genres, 'userPfp': userPfp} %}
{% block body %}
    <div id="breadcrumbs">Admin zone</div>
    <div>
        <form action="{{ path('adminAction') }}" method="POST">
            <button value="1" name="action">Manage users</button>
            <button value="2" name="action">Manage stories</button>
            <button value="3" name="action">Manage genres</button>
        </form>
    </div>
{% endblock %}