{# templates/changePhoto.html.twig #}
{% include 'header.html.twig' with {'genres':genres, 'userPfp': userPfp} %}
{% block body %}
    {% if error is defined %}
        {{ error }}
    {% endif %}
    Upload your new profile photo
    <form action="{{ path('changePhoto')}}" method='POST' enctype="multipart/form-data">
        <input type="file" id='photo' name='photo' accept='image/png, image/jpeg, image/gif'><br>
        <button type="submit">Change</button>
    </form>
{% endblock %}
