{# templates/askEmail.html.twig #}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
{% endblock %}
{% block body %}
    {# {% for genre in genres %} #}
    {% include 'header.html.twig' with {'genres':genres, 'userPfp': userPfp} %}
    <form action="{{ path('change_password', {'mail': mail}) }}" method="post">
        <fieldset>
            <legend>New password:</legend>
            {% if error is defined %}
                <div style="color: red" id="wrong">{{ error }}</div>
            {% endif %}
            <label for="password">Enter your new password:</label>
            <input type="password" name="password" id="password">
            <br>
            <label for="password2">Re enter your new password:</label>
            <input type="password" name="password2" id="password2">
            <br>
            <button type="Submit">Change password</button>
        </fieldset>
    </form>
{% endblock %}