{# templates/checkemail.html.twig #}
{% block body %}
    hello!<br>
    Please check your email for a verification code. Then copy the code here:<br>
    
    <form action="{{ path('checkemail') }}" method="post">
        <input type="text" id="code" name="code"><br>
        <button type="submit">Verify email</button>
    </form>
{% endblock %}