{# templates/editAbout.html.twig #}
{% include 'header.html.twig' with {'genres':genres, 'userPfp': userPfp} %}
<style>
    .container
    {
        padding: 1em 4em 4em 4em;
    }
    #about
    {
        width: 400px;
        height: 100px;
    }
</style>
{% block body %}
    {% if changed is defined %}
        <div>{{ changed }}</div>
    {% endif %}
    <div class="container card">
        <h2>Choose a new username</h2>
        <form action="{{ path('editUsername') }}" method='POST'>
            <div class="form-group m-1">
                <label for="about" class="m-1">Username</label>
                <input type="text" class="form-control m-2" value="{{ user.username }}" name="newUsername"/>
                <button class="btn btn-primary">Change</button>
            </div>
        </form>
    </div>
{% endblock %}
