{# login.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    {% if error is defined %}
        <div>{{ error }}</div>
    {% endif %}
    {% if last_username is not defined %}
        {% set last_username = '' %}
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password">


        <button type="submit">login</button>
    </form>

{% endblock %}